<p id="notice"><%= notice %></p>

<p>
  <strong>Agent:</strong>
  <%= @agent.agent_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @agent.name %>
</p>

<p>
  <strong>Calldetail:</strong>
  <%= @agent.CallDetail %>
</p>

<%= link_to 'Edit', edit_agent_path(@agent) %> |
<%= link_to 'Back', agents_path %>
